*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0px;
    background-color: aliceblue;
}

.header{
    background-color: rgb(7, 105, 233);
    height: 80px;
    width: 100%;
    /* dejar fijo la barra de navegacion */
    position: fixed;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    /* Ancho máximo */
    /* max-width: 1300px; */
    margin: auto 30px ;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 0px;
    margin-left: 40px;
    line-height: 80px;
}

.logo-img{
    width: 80px;
    height: 80px;
    font-size: 10px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 15px;
    line-height: 80px;
    text-transform: uppercase;
    /* Nunca corta el contenido */
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;

}

.nav-menu-link:hover{
    background-color: #034472;
    transition: 0.5s;
}

/* INICIO */
.section-inicio{
    border-style: solid;
    border-color: #034472;
    margin-bottom: 10px;
    text-align: justify;
    border-radius: 5px;
    border-width: 2px;
}

.section-inicio h3{
    text-align: center;
    padding: 10px 0px;
}

.section-inicio p{
    text-align: center;
    padding: 10px;
}

.section-inicio-link{
    text-align: center;
}

.section-inicio-button{
    margin: 10px;
    background-color: transparent;
    font-weight: bold;
    border: 2px solid #034472;
    border-radius: 3px;
}

.section-inicio-button:hover{
    background-color: #034472;
    transition: 0.5s;
}

/* TIENDA */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-box{
    width: 300px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #034472;
    background-color: #74a9cf;
}

.container-box img{
    width: 100%;
    height: 300px;
}

.container-box h3{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 0 3px;
    color: black;
}

.container-box p{
    text-align: justify;
    line-height: 1.5em;
    padding: 10px;
}

.container-box-div{
    width: 100%;
    text-align: center;
}

.container-box-div-button{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #3b404d;
    font-weight: bold;
    border: 2px solid #034472;
    border-radius: 3px;
    text-align: center;
}

.container-box-div-button:hover{
    background-color: #0e212e;
    color: #fff;
    transition: 0.5s;
}


/* CONTACTO */
/* Estilos al formulario */
.form{
    width: 450px;
    /* Centramos el formulario horizontalmente */
    margin: auto;
    background: rgba(7, 105, 233, 0.2);
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 7px;
}

.form h2{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea, .button{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%; 
}

.form .checkbox{
    width: auto;
    margin-right: 15px;
}

.button{
    background-color: #31384A;
    color: #fff;
    padding: 20px;
    border-radius: 3px;
}

.button:hover{
    cursor: pointer;
}

@media(max-width: 480px){
    .form{
        width: 100%;
    }
}

/* UBICAION */
.contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacto-ubicacion{
    margin: 30px auto;
}

.contacto-ubicacion h2{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

.contacto-ubicacion-mapa{
    text-align: center;
}

.contacto-ubicacion-mapa iframe {
    width: 450px;
    border-radius: 3px;
}

/* Sobre nosotros */
.nosotros-h2{
    font-size: 50px;
    color: #2e4275;
    margin-top: 30px;
    text-align: center;
}

.nosotros-video{
    margin-top: 10vh;
    text-align: center;
}