*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

.header{
    background-color: #0769e9;
    height: 80px;
    width: 100%;
    /* dejar fijo la barra de navegacion */
    position: fixed;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    /* Ancho máximo */
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.logo-img{
    width: 80px;
    height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 7px;
    line-height: 80px;
    text-transform: uppercase;
    /* Nunca corta el contenido */
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;

}

.nav-menu-link:hover{
    background-color: #034574;
    transition: 0.5s;
}