*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: white;
    width: 100%;
}

.header{
    background-color: rgba(11, 14, 47, 0.3);
    height: 70px;
    width: 100%;
    min-width: 800px;
}

.nav{
    display: flex;
    justify-content: space-around;
    margin: auto 20px ;
    margin-left: 40px;
}

.nav-link{
    color: black;
    text-decoration: none;
}

.logo-img{
    width: 70px;
    height: 70px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 15px;
    margin: 0 15px;
    line-height: 70px;
    text-transform: uppercase;
    /* Nunca corta el contenido */
    width: max-content; 
}

.nav-menu-link{
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: rgba(11, 14, 47, 0.5);
    transition: 0.5s;
}

/* INICIO */
.section-inicio{
    border: 3px ridge #034472;
    border-radius: 5px;
    width: 80%;
    /* Vertical | Horizontal */
    margin: 10px auto;
}

.section-inicio h2{
    color: rgb(241, 183, 10);
    text-align: center;
    padding: 10px 0px;
}

.section-inicio p{
    text-align: center;
    padding: 10px;
}

.section-inicio-link{
    text-align: center;
}

.section-inicio-button{
    width: 150px;
    font-size: 15px;
    margin: 10px;
    padding: 10px 0;
    color: white;
    background-color: #0e212e;
    font-weight: bold;
    border: none;
    /* border: 2px solid #034472; */
    border-radius: 5px;
}

.section-inicio-button:hover{
    background-color: #034472;
    transition: 0.5s;
}

/* TIENDA */
.container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto ;
}

.container-box{
    width: 300px;
    margin: 10px 5px;
    border-radius: 5px;
    border: 2px solid #034472;
    background-color: #74a9cf;
}

.container-box img{
    width: 100%;
    height: 300px;
}

.container-box h3{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 0 3px;
    color: black;
}

.container-box p{
    text-align: justify;
    line-height: 1.5em;
    padding: 10px;
}

.container-box-div{
    width: 100%;
    text-align: center;
}

.container-box-div-button{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #3b404d;
    font-weight: bold;
    border: 2px solid #034472;
    border-radius: 3px;
    text-align: center;
}

.container-box-div-button:hover{
    background-color: #0e212e;
    color: #fff;
    transition: 0.5s;
}

/* GALERÍA */
.section-galeria{
    margin: auto 0;
}

.galeria-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto ;
}

.galeria-box{
    width: 30%;
    margin-top: 5px;
}

.galeria-box img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/* .container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto ;
}

.container-box{
    width: 300px;
    margin: 10px 5px;
    border-radius: 5px;
    border: 2px solid #034472;
    background-color: #74a9cf;
}

.container-box img{
    width: 100%;
    height: 300px;
} */
/* .galeria-container{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.galeria-container-img{
    flex: 33%;
    padding: 5px;
    flex-wrap: wrap;
}

.galeria-container-img img{
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
} */

/* @media (max-width: 767px){
    .galeria-container-img{
        flex: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .galeria-container-img{
        flex: 50%;
    }
} */

/* Sobre nosotros */
.nosotros-h2{
    font-size: 50px;
    color: #2e4275;
    margin-top: 30px;
    text-align: center;
}

.nosotros-video{
    margin-top: 10vh;
    text-align: center;
}

/* CONTACTO */
/* Estilos al formulario */
.form{
    width: 450px;
    background: rgb(188, 191, 194);
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 7px;
}

.form h2{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea, .button{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
    border: none;

}

textarea{
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%; 
}


.form .checkbox{
    width: auto;
    margin-right: 15px;
}

.button{
    background-color: rgba(11, 14, 47, 0.5);
    color: black;
    padding: 20px;
    border-radius: 3px;
}

.button:hover{
    cursor: pointer;
}

/* UBICACION */
.contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacto-ubicacion{
    margin: 30px auto;
}

.contacto-ubicacion h2{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

.contacto-ubicacion-mapa{
    text-align: center;
}

.contacto-ubicacion-mapa iframe {
    width: 450px;
    border-radius: 3px;
}